[General]
tz=Europe/Oslo
updatefreq=5s

[Notification]
url=https://ntfy.sh
topic=your-topic
auth_token=
title_prefix=system-log-to-docker

[Syslog]
input=/var/log/syslog*
regex=
strip_syslog_hostname=true
enable_notifications=false
notification_levels=WARN,ERROR,CRITICAL

[PHP-fpm]
input=/var/log/php.log
# regex=
# strip_syslog_hostname=false
enable_notifications=true
notification_levels=ERROR,CRITICAL
