[General]
tz=Europe/Oslo
updatefreq=5s

[Notification]
url=https://ntfy.sh
topic=your-topic
auth_token=
title_prefix=system-log-to-docker
allow_insecure_http=false

[Syslog]
input=/var/log/syslog*
regex=
strip_syslog_hostname=true
enable_notifications=true
notification_levels=WARN,ERROR,CRITICAL

[Auth]
input=/var/log/auth.log
# regex=
# strip_syslog_hostname=false
enable_notifications=true
notification_levels=INFO,ERROR,CRITICAL
