[General]
tz=Europe/Oslo
updatefreq=5s

[Notification]
enabled=false
ntfy_url=https://ntfy.sh/your-topic
auth_token=
levels=WARN,ERROR,CRITICAL
title_prefix=system-log-to-docker

[Syslog]
input=/var/log/syslog*
regex=
strip_syslog_hostname=true

[PHP-fpm]
input=/var/log/php.log
# regex=
# strip_syslog_hostname=false
